<!DOCTYPE html>
<html lang="en" ng-app="redditApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="redditController">
<header>
  <nav>
    <h1>Reddit Clone</h1>
    <p><a href="" ng-click="addPost = ! addPost"><i class="fa fa-plus"></i> Add Post</a></p>
    <input type="search" ng-model="search" placeholder="Search">

    <select ng-model="sort" value="">
      <option value="votes">Sort By Votes</option>
      <option value="dates">Sort By Date</option>
      <option value="title">Sort By Title</option>
    </select>
  </nav>
</header>
    <form ng-show="addPost" name="form" novalidate>
      <label for="title">Title</label><br><br>
      <input type="text" name="title" ng-model="title" placeholder="Title" required>
      <br>
      <br>
      <label for="author">Author</label> <br><br>
      <input type="text" name="author" ng-model="author" placeholder="Author" required>
      <br>
      <br>
      <label for="url">Image URL</label> <br><br>
      <input type="url" name="img" ng-model="image" placeholder="Image URL" required>
      <br>
      <br>
      <label for="description">Description</label><br><br>
      <input type="textarea" name="description" ng-model="description" placeholder="Description" required>
      <br>
      <br>
      <input class="submit" ng-disabled="form.$invalid" type="submit" ng-click="addPosts()" value="Add Post">
      <!--add =true so doesn't post until complete. But still doesn't post then.  -->
    </form>

  <main ng-repeat="post in posts">
    <div class="posts">
      <br>
      <div class="column1">
      <img style="height:150px" src="{{post.image}}" alt="">
      </div>
      <div class="column2">
      <h2>{{post.title}} | <i ng-click="upVote()" class="fa fa-arrow-up" style='cursor:pointer'></i><i ng-click="downVote()" class="fa fa-arrow-down" style='cursor:pointer'></i><span ng-class="{green: vote>0, red:vote<0}">{{vote}}</span></h2>
      <h4>{{post.author}}</h4>
      <p>{{post.description}}</p>
      <br>
      <br>
      <footer>
        <span><i class="fa fa-calendar"></i>{{date}} </span> |
        <span><i class="fa fa-commenting"></i><a href="" ng-click="showComments = ! showComments">Comments</a></span> |
        <span><i class="fa fa-pencil"></i><a href="" <a href="" ng-click="addComments = ! addComments">Add a comment</a></span>
      </footer>

      <form class="commentForm" ng-show="addComments">
        <label for="user">Author</label>
        <input type="text" id="user" ng-model="user" placeholder="Author">
        <br>
        <br>
        <label for="comments">Text</label>
        <input type="text" id="comments" ng-model="comments" placeholder="comment text">
        <br>
        <br>
        <input class="submit" type="submit" ng-click="addComments()" value="Add Post">
      </form>

      <div ng-repeat="comment in comments" ng-click="showComments()">
        <p><strong>{{user}} </strong> <span>{{comments}}</span></p>
        <br>
      </div>
     </div>
    </div>

  </main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="app.js"></script>
  <script src="moment.js" charset="utf-8"></script>
</body>
</html>
